<div class="container">
    <div class="row">
        <div class="col-12 text-center" *ngIf="idPedido!= 0">
            <h1>Pedido do seu Recibo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Pedido numero {{idPedido}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Este é seu comprovante que seu pedido foi realizado.Em breve entrarei em contato para vermos a forma de pagamento e entender melhor suas necessidades de produto</p>
            <p>Quaisquer duvidas entre em contato comigo nas redes sociais!!</p>
            <p>Tire o print desta tela para verificar que tudo deu certo</p>
        </div>
    </div>
</div>
