<div class="container-fluid">
    <div class="row" id="rodape">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluan1">
            <h5>Revenda Natura</h5>
         
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna2">
            <p>Entre em Contato</p>
            <p><i class="fab fa-whatsapp-square"></i>(21)9912-5678</p>
            <p><i class="fas fa-globe"></i> www.naturassp.com.br</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna3">
            <p>Siga nossas redes sociais:</p>
            <p><i class="fab fa-instagram"></i> @naturassp</p>
        </div>
    </div>
</div>
